.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.login-page__logo {
    margin-bottom: 20px;
}

.login-page__error {
    color: #CF2C00;

    padding: 15px 10px;
    margin-bottom: 20px;
    background: rgba(207, 44, 0, 0.1);
    border-radius: 5px;
    position: relative;
}

.login-page__error__header {
    display: flex;
    align-items: center;
}
.login-page__error__header span{
    font-size: 18px;
    line-height: 30px;
    padding-left: 10px;
}

.login-page__error__description {
    font-size: 12px;
    line-height: 20px;
    opacity: 0.5;
    padding-left: 30px;
}


.login-page__content {
    width: 520px;
    padding: 40px 30px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.login-page__content__head {
    margin-bottom: 20px;
}

.login-page__content__head__title {
    font-size: 24px;
}

.login-page__content__body {
    margin-bottom: 20px;
}

