.tab-wrapper {
    display: table;
    min-width: 120px;
    position: relative;
    font-size: 16px;
    margin-right: 10px;
    /*display: table-column;*/
}

.tab {
    /*display: table;*/
    /*display: inline-block;*/
    /*height: 30px;*/
    padding: 5px 0px 5px 10px;

    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);

    display: flex;
    /*position: relative;*/


    justify-content: space-between;
    cursor: pointer;
}

.tab-active {
    background-color: #C4C4C4;
}

.tab__label {
    padding-left: 5px;
    padding-right: 10px;
}
.tab__options-button {
    padding: 0 10px;
}

.tab__options-list {
    display: flex;
    flex-direction: column;
    left: 0;
    top: 100%;
    position: absolute;
    background: white;
    width: 100%;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
div.tab__options-list > div {
    padding: 15px 0 15px 15px;
    cursor: pointer;
}
div.tab__options-list > div:hover {
    color: white;
    background: #0055FB;
}

div.tab__options-list > div.tab__options-list__delete:hover {
    background: #CF2C00;
    color: white;
}



div.tab__options-list > div:last-child {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

div.tab__copied {
    display: flex;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    position: absolute;
    opacity: 1;
    overflow: hidden;

    animation-name: copy-lol;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}


.tab__copied__span {
    background:  #F6F6F6;
    font-size: 12px;
    border-radius: 5px;
    padding: 2px 5px;
}

@keyframes copy-lol {
    100% {
        top: -15px;
        opacity: 0;
    }
    0% {
        top: 0px;
    }
}



